/* Copyright 2023 Carmine Libroia
     This file is part of "Movie Tickets".
     "Movie Tickets" is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation,
     either version 3 of the License, or (at your option) any later version.
     "Movie Tickets" is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
     FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
     You should have received a copy of the GNU General Public License along with "Movie Tickets". If not, see <https://www.gnu.org/licenses/>. */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Slab:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

.flex-start-center {
    display: flex;
    justify-content: flex-start; align-items: center;}

body {
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #1f2c51;}

.overlay {
    width: 100%; height: 100%;
    position: fixed;
    inset: 0 auto auto 0;
    z-index: 2;
    display: none;
    background-color: #00000080;}

header {
    height: 7vh;
    padding-left: 1vw;
    gap: 5vw;
    background-color: #e6e4d2;
    color: #1f2c51;}

.logo {margin: .5vh 0 .5vh 0;}

.menu-button {display: none;}

nav {
    height: 5vh;
    flex: 1;}

nav > ul {
    height: 5vh;
    gap: 18vw;
    list-style-type: none;}

main {margin-top: .5vh;}

main > section:first-child {
    background-color: #283a6a;
    color: #f38108;}

h1 {
    padding: 2vh 0 0 2vw;
    font-size: 5vh;}

.info {
    height: 42vh;
    padding: 1vh 0;
    display: flex;
    justify-content: space-evenly;}

.poster {
    width: 15vw;
    margin: 0 0 1vh 1.5vw;}

.info-grid {
    width: 85vw;
    display: grid;
    grid-template-areas: "city theater filler" "date time filler";
    grid-template-rows: auto auto;
    grid-template-columns: 25vw 25vw 50vw;
    font-size: 2.25vh;}

.filler {grid-area: filler;}

.city {grid-area: city;}

.theater {grid-area: theater;}

.date {grid-area: date;}

.time {grid-area: time;}

.label {margin: 1vh 0 2vh 2vw;}

.first-selection, .second-selection {
    margin-left: 2vw;
    flex-flow: row wrap; gap: 1vw;
    font: 400 1.9vh 'Roboto Slab', serif;}

input[type="radio"] {display: none;}

.first-selection label {
    color: #e6e4d2;
    cursor: pointer;}

.first-selection label:hover {text-decoration: underline;}

.first-selection input[type="radio"]:checked + label {
    color: #d9a30e;
    text-decoration: underline;
    transition: all .3s ease;}

.second-selection label {
    width: 50px; height: 45px;
    border-radius: 25%;
    display: block;
    background-color: #e6e4d2;
    color: #1f2c51;
    text-align: center;
    cursor: pointer;}

.second-selection label > span {display: block;}

.second-selection input[type="radio"]:checked + label {
    background-color: #c0900c;
    color: #e6e4d2;
    transition: all .3s ease;}

.arrow {
    width: 15px; height: 15px;
    border: 1px solid #e6e4d2;
    border-bottom: none; border-left: none;
    border-top-right-radius: 15%;
    display: block;
    cursor: pointer;
    transform: rotateZ(45deg);}

.arrow:hover {
    filter: brightness(1.5);
    transform: rotateZ(45deg) scale(1.25);
    transition: all .7s ease;}

.gallery {
    height: 25vh;
    margin: 0 2vw;
    gap: 1vw;}

.gallery-poster {cursor: pointer;}

.booking {
    width: 100vw;
    border-top: 1px solid #e6e4d2;
    display: flex;
    justify-content: flex-start; align-items: flex-start;}

.visual {
    flex: 0 0 80vw;
    background-color: #1f2c51;
    color: #e6e4d2;}

.screen {
    width: 20vw;
    margin: 4vh auto;
    border-bottom: 1px solid #e6e4d2;
    font-size: 3vh;
    color: #f38108;
    text-align: center;}

.legend {
    margin: 0 0 5vh 2vw;
    display: flex;
    justify-content: center; align-items: center;
    list-style-type: none;}

.legend > li {
    margin-right: 3vw;
    font: 300 1.75vh 'Roboto Slab', serif;}

.legend > li > span:first-child {margin-right: .5vw;}

.row {
    margin-left: 5vw;
    display: flex;
    justify-content: center;}

.isle {
    margin: 0 5vw 5vh 0;
    flex-flow: row wrap;}

.left-isle, .right-isle {max-width: 136px;}

.center-isle {max-width: 340px;}

.seat {
    width: 30px; height: 30px;
    margin: 2px 2px;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    display: block;}

.row .seat.available:hover, .row .seat.selected:hover {
    transform: translateY(-10px);
    transition: transform .5s ease;}

.seat.taken {background-color: #777;}

.seat.selected {background-color: #c0900c;}

.seat.available {background-color: #e6e4d2;}

.mobile-menu {display: none;}

.sidebar {
    flex: 0 0 20vw;
    max-height: 40vh;
    margin-top: 6.2vh;
    padding-left: 2vw;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    display: flex;
    justify-content: flex-start; align-items: flex-start;
    flex-flow: column nowrap;
    font-size: 2vh;
    background-color: #283a6a;
    color: #f38108;
    opacity: 0;}

.appear {
    visibility: visible;
    opacity: 1;
    animation: .5s ease-in-out reverse slidein;}

@keyframes slidein { from{transform: translateX(0vw);} to{transform: translateX(20vw);} }

.disappear {
    opacity: 0;
    transition: opacity .5s linear;
    animation: .5s ease-in-out reverse slideout;}

@keyframes slideout { from{transform: translateX(20vw);} to{transform: translateX(0vw);} }

.sidebar > h2 {margin: 5vh 0 3vh 0;}

.number, .total {
    padding-left: 3vw;
    font: 400 2.75vh 'Roboto Slab', serif;
    color: #e6e4d2;}

.total {padding-left: 5.65vw;}

.sidebar button {
    max-width: 10vw;
    margin: 5vh 5vw 3vh auto;
    padding: .75vh .75vw;
    border-radius: 7%;
    font: 500 2.2vh 'Roboto Slab', serif;
    background-color: #c0900c;
    color: #e6e4d2;
    border-color: #e6e4d2;
    cursor: pointer;}

.sidebar button:hover {filter: brightness(1.2);}

footer {
    height: 2.5vh;
    display: flex;
    justify-content: flex-end; align-items: flex-end;
    background-color: #121212;
    color: #e6e4d2;}

footer > p {margin-right: 1vw;}

@media screen and (max-width: 1900px) and (max-height: 1000px), (max-width: 1000px) and (max-height: 1900px) {

    header {height: max(7vw, 7vh);}

    .logo {margin: max(.5vw, .5vh) 0 max(.5vw, .5vh) 0;}

    nav {
        height: max(5vw, 5vh);}

    nav > ul:last-child {
        width: 80vw; height: max(45vw, 45vh);
        border-radius: 5%;
        position: absolute;
        inset: 0 10vw auto 10vw;
        z-index: 3;
        display: flex;
        justify-content: center; align-items: center;
        flex-flow: column nowrap; gap: max(6vw, 6vh);
        font-size: max(2.25vw, 2.25vh);
        background-color: #e6e4d2;
        color: #1f2c51;
        opacity: 0;
        visibility: hidden;}
    
    nav > ul.appear-main-menu {
        opacity: 1;
        visibility: visible;
        animation: .6s ease forwards mobile-main-slidein;}
    
    @keyframes mobile-main-slidein { from{transform: translateY(0);} to{transform: translateY(40%);} }
    
    nav > ul.disappear-main-menu {
        opacity: 0;
        animation: .6s ease forwards mobile-main-slideout;
        transition: opacity .6s linear;}
    
    @keyframes mobile-main-slideout { from{transform: translateY(40%);} to{transform: translateY(0);} }

    .menu-button {
        width: 41px; height: 41px;
        margin: auto min(1vw, 1vh) auto auto;
        border: none;
        display: flex;
        justify-content: center; align-items: center;
        flex-direction: column;}

    .menu-button > div {
        width: 21px; height: 2px;
        margin: 3px auto;
        background-color: #374f90;}

    main {margin-top: max(.5vw, .5vh);}

    h1 {
        padding: max(2vw, 2vh) 0 0 min(2vw, 2vh);
        font-size: max(5vw, 5vh);
        text-align: center;}

    .info {
        height: auto;
        padding: max(1vw, 1vh) 0;
        align-items: center;
        flex-flow: column nowrap;}

    .poster {
        width: auto;
        margin: 0 0 max(1vw, 1vh) min(1.5vw, 1.5vh);}

    .info-grid {
        width: 95vw;
        display: flex;
        align-items: flex-start;
        flex-flow: column nowrap;
        font-size: max(2.25vw, 2.25vh);}

    .label {margin: max(4vw, 4vh) 0 max(1vw, 1vh) min(2vw, 2vh);}

    .first-selection, .second-selection {
        margin-left: min(2vw, 2vh);
        gap: max(3vw, 3vh);
        font-size: max(1.9vw, 1.9vh);}

    .second-selection label {
        width: max(5vw, 5vh); height: max(5vw, 5vh);}

    .arrow {cursor:default;}

    .filler {display: none;}
    
    .booking {
        position: relative;
        align-items: center;
        flex-flow: column nowrap;}

    .booking > .sidebar {display: none;}

    .visual {
        flex: 1;
        font-size: max(2vw, 2vh);}

    .screen {
        width: min(20vw, 20vh);
        margin: max(4vw, 4vh) auto;
        font-size: max(3vw, 3vh);}

    .visual .legend {display: none;}

    .row {margin-left: 0;}

    .isle {
        margin: 0 min(3vw, 3vh) max(5vw, 5vh) min(2vw, 2vh);
        border-radius: 7%;
        justify-content: center; align-items: center;
        background-color: #e6e4d2;
        color: #283a6a;}

    .left-isle, .right-isle {width: min(19vw, 19vh); height: min(30vw, 30vh);}

    .center-isle {width: min(44vw, 44vh); height: min(30vw, 30vh);}

    .row .seat {display: none;}

    .show-overlay {display: block;}

    .mobile-menu {
        width: 98vw; height: max(60vw, 60vh);
        border-radius: 15px;
        position: absolute;
        inset: auto 1vw 0 1vw;
        z-index: 3;
        display: grid;
        grid-template-areas: "legend" "seats" "call";
        grid-template-rows: 20% 240px 1fr;
        background-color: #1f2c51;
        opacity: 0;
        visibility: hidden;}

    .appear-menu {
        opacity: 1;
        visibility: visible;
        animation: .7s ease forwards mobile-slidein;}

    @keyframes mobile-slidein { from{transform: translateY(0);} to{transform: translateY(-10%);} }

    .disappear-menu {
        opacity: 0;
        animation: .7s ease forwards mobile-slideout;
        transition: opacity .7s linear;}

    @keyframes mobile-slideout { from{transform: translateY(-10%);} to{transform: translateY(0);} }

    .mobile-menu > div:first-child {
        grid-area: legend;
        padding-top: max(3vw, 3vh);
        color: #e6e4d2;}

    .mobile-menu .legend {margin: 0 0 max(5vw, 5vh) min(4vw, 4vh);}

    .mobile-menu .legend > li {
        margin-right: min(3vw, 3vh);
        gap: .5vw;
        font: 300 max(1.55vw, 1.55vh) 'Roboto Slab', serif;}

    .mobile-menu .legend > li > span:first-child {margin-right: min(1vw, 1vh);}

    .mobile-isle {
        grid-area: seats;
        display: flex;
        justify-self: center;
        flex-flow: row wrap;}

    .mobile-little-isle {max-width: 136px;}

    .mobile-big-isle {max-width: 340px;}

    .mobile-menu > .sidebar {
        grid-area: call;
        margin-top: auto;
        padding-left: min(2vw, 2vh);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: max(2vw, 2vh);}

    .mobile-menu > .sidebar > h2 {
        width: 55vw;
        margin: max(1vw, 1vh) 0 max(2vw, 2vh) min(2vw, 2vh);
        display: flex;
        justify-content: space-between; align-items: flex-end;}

    .mobile-menu .number {padding-left: min(3vw, 3vh);}

    .mobile-menu .number, .mobile-menu .total {font: 400 max(2.75vw, 2.75vh) 'Roboto Slab', serif;}

    .mobile-sidebar-line {
        width: 100%;
        gap: 15vw;}

    .mobile-sidebar-line > h2 {
        flex: 0 0 55vw;
        margin: 0 0 0 min(2vw, 2vh);
        display: flex;
        justify-content: space-between; align-items: flex-end;}

    .appear-mobile-sidebar {
        opacity: 1;
        transition: opacity .5s ease-in;}

    .disappear-mobile-sidebar {
        opacity: 0;
        transition: opacity .5s ease-out;}

    .mobile-menu > .sidebar button {
        max-width: 30vw;
        margin: 0 0 2vh 0;
        font-size: max(2.2vw, 2.2vh);}
    
    footer {height: max(2.5vw, 2.5vh);}
}