@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Slab:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-positioning{display: grid; place-items: center;}
h2{color: #f38108; font-size: 30px;}

body {
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-size: max(1.9vw, 1.9vh);
    background-color: #1f2c51;
}

/*---------------------------*/
/*     START PAGE STYLES     */

nav{
    width: 100%; height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #e6e4d2;
    box-shadow: 0px 5px 0px 0px #151e35;
}

.logo{margin: 7px; border-radius: 20px;}

.hamburger-menu{
    display: none;
    width: 40px; height: 35px;
    margin: auto min(1vw, 1vh) auto auto;
    border: none;
    display: flex;
    justify-content: center; align-items: center;
    flex-direction: column;
}

.hamburger-menu > span {
    width: 20px; height: 2px;
    margin: 3px auto;
    background-color: #374f90;
}

.menu-container{
    display: none;
    width: 100%; height: 100%;
    position: fixed;
    top: 0;
    z-index: 0;
}

.menu{
    width: 70vw; height: 60vh;
    background-color: #fff;
    border-radius: 20px;
    list-style-type: none;
    z-index: 2;
}
.menu > li{margin: 10px; cursor: pointer;}

.overlay{
    width: 100vw; height: 100vh;
    position: fixed;
    inset: 0 auto auto 0;
    z-index: 1;
    background-color: #00000080;
}





/*   MAIN PAGE   */
.movie-section{margin-top: 20px;}
.title{color: #f38108; font-size: 25px; text-align: center; margin: 50px 0 0 0;}
.poster{margin: 45px;}

input[type="radio"] {display: none;}
.film-info input[type="radio"]:checked + label {
    color: #d9a30e;
    transition: .3s;
}

.film-dates input[type="radio"]:checked + label {
    background-color: #c0900c;
    color: #e6e4d2;
    transition: .3s;
}

.film-info{width: 100%; max-width: 100vw; padding: 30px;}
.film-info > ul{display: flex; flex-wrap: wrap; list-style-type: none; margin: 20px 0 40px 0; color: #dbdada;}
.film-info > ul > li{margin: 15px; font-size: 20px;}
.film-info label{cursor: pointer;}
.film-info > ul > li:hover{color: #d9a30e;}

.film-dates{display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; margin-bottom: 40px;}
.film-dates label{
    width: 50px; height: 50px;
    border-radius: 10px;
    margin: 17px;
    font-size: 20px;
    padding: 4.5px;
    text-align: center;
    background-color: #e6e4d2;
    transition: .4s;
    cursor: pointer;
}
.arrow{
    width: 20px; height: 20px;
    background: none;
    border-radius: 0;
    border-top: 3px solid #e6e4d2;
    border-right: 3px solid #e6e4d2;
    transform: rotate(45deg);
    z-index: -1;
}
.film-dates label:hover, .arrow:hover{margin-top: 5px; transition: .4s;}





/*   BOOKING SECTION   */
.booking-section{
    width: 100%;
    position: relative;
    padding: 50px 0;
    background-color: #151e35;
}
.booking-section h2{width: 130px; height: 45px; margin: 35px 0 50px 0; text-align: center; border-bottom: 1.5px solid white;}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0 20px 5vw;
}

.isle{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 5vw 0 0;
}

.left-isle, .right-isle{max-width: 136px;}
.center-isle{max-width: 340px}

.isle > p{display: none; place-items: center; font-size: 15px;}

.seat {
    display: block;
    width: 30px; height: 30px;
    margin: 2px 2px;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
}

.row .seat.available:hover, .row .seat.selected:hover {
    transform: translateY(-5px);
    transition: transform .5s ease;
}

.seat.available {background-color: #e6e4d2;}
.seat.selected {background-color: #c0900c;}
.seat.taken {background-color: #777;}





/*   PURCHASE POPUP   */
.purchase-popup{
    width: 275px; height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    right: -300px;
    padding: 15px;
    border-radius: 15px;
    color: #f38108;
    background-color: #374f90;
}

.purchase-popup button{width: 100%; height: 30px; border: none; border-radius: 15px; transition: .2s; cursor: pointer;}
.purchase-popup button:hover{background-color: #c0900c; color: white; transition: .2s;}
.purchase-popup p{display: flex; justify-content: space-between; padding-inline: 10px; font-size: 20px;}

.purchase-popup span{color: white;}





/*   FOOTER   */
footer{height: 70px; color: white;}
footer p{font-size: 17px; text-align: center;}





/*   MEDIA QUERY   */
@media screen and (max-width: 720px){
    .poster{margin: 10vw; width: 80vw;}


    .isle{background-color: white; border-radius: 15px; cursor: pointer;}
    .isle > p{display: grid;}
    .left-isle, .right-isle {width: min(19vw, 19vh); height: min(30vw, 30vh);}
    .center-isle {width: min(44vw, 44vh); height: min(30vw, 30vh);}

    .seat{display: none; width: 1.6em; height: 1.6em;}
    .footer p{font-size: 15px;}
}

@media screen and (min-width: 1200px) and (min-height: 800px){
    .movie-section{display: flex;}
    .title{width: 100%;}

    .hamburger-menu{display: none;}
    .menu-container{
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .menu{
        height: auto;
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
        border-radius: none;
        background: none;
    }
    .menu > li{margin-inline: 20px; font-size: 25px;}
    .overlay{display: none;}
}